.main-cv {
    min-height: 85vh;
}

/* ===========================
*
*            MENU
*
* ============================*/
.border-menu-info {
    border-right: solid 2px #343A40;
}
.ul-menu,.ul-info,.ul-info-icon-link,.ul-menu-icon {
    list-style-type: none;
    padding:0;
    margin:0;
}
.ul-info-icon-link li,.ul-menu-icon li {
    display: inline-block;
}
.ul-menu li{
    margin-bottom: 15px;
    font-weight: bold;
}
.ul-menu li a{
    color: #343A40;

}
.ul-menu li a:hover{
    color: #008eec;
}
.ul-menu li a:focus{
    color: #008eec;
}
.ul-menu li a:link{
    color: #343A40;
    text-decoration: none;
}
.ul-menu-icon {
    display: block;
}
.menu-icon-bg {
    background: #343A40;
    padding-left: 0;
    padding-right: 0;
}
.row-menu-icon {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row-menu-info {
    height: 100%;
    justify-content: center;
}
.col-menu-info {
    height: 100%;
}
.row-menu {
    height: 65%;
    justify-content: center;
    padding-top: 45px;
}
.row-info {
    height: 35%;
    justify-content: center;
}

/* =====================================
*
*               ICON
*
*=======================================*/
/* Social media link */
.fa-linkedin,.fa-github {
    padding: 0.35em;
    font-size: 1.5em;
    width: 1.65em;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
}
.fa-linkedin:hover,.fa-github:hover {
    opacity: 0.7;
    color: white;
}
.fa-linkedin:link,.fa-github:link {
    text-decoration:none;
}
.fa-linkedin, .fa-linkedin:hover {
    background: #007bb5;
    
}
.fa-github, .fa-github:hover {
    background: #24292E;
}
/* Menu icon */
.fa-user,.fa-graduation-cap,.fa-briefcase,.fa-cogs {
    text-decoration: none;
    font-size: 2.5em;
    color: white;
}
.fa-user:hover,.fa-graduation-cap:hover,.fa-briefcase:hover,.fa-cogs:hover {
    color: white;
    background: #24292E;
    opacity: 0.7;
}
.menu-icon-bg li {
    width: 100%;
}
.menu-icon-bg li a {
    width: 100%;
}
/* XS */
@media screen and (max-width: 575px) {
    .visible-xs {
        display: block;
    }
    .invisible-xs {
        display: none;
    }
}
/* SM */
@media screen and (min-width: 576px) {
    .ul-info li {
        font-size: 0.8em;
    }
    .ul-menu li {
        font-size: 1em;
    }
    .visible-xs {
        display: none;
    }
}
/* MD */
@media screen and (min-width: 768px) {
    .ul-info li {
        font-size: 1em;
    }
    .ul-menu li {
        font-size: 1.2em;
    }
    .visible-xs {
        display: none;
    }
}
/* LG */
@media screen and (min-width: 992px) {
    .ul-info li {
        font-size: 1.1em;
    }
    .ul-menu li {
        font-size: 1.4em;
    }
    .visible-xs {
        display: none;
    }
}