.header-cv {
    display: flex;
    align-items: center;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1-header-cv {
    color: #ffffff;
    font-weight: bold;
}
.h2-header-cv {
    color: #ffffff;
    font-weight: bold;
}
.fa-chevron-left {
    color: #ffffff;
    margin-left: 10px;
}
.fa-chevron-left:hover {
    color: #9bd7ff;
}
.fa:link {
    text-decoration: none;
    color: #9bd7ff;
}
.nav-item span {
    color: white;
}
.fa-info {
    background: #343A40;
    color: white;
    font-size: 2.5em;
    margin-right: 0.5em;
}
.fa-info:hover {
    color: #9bd7ff;
}
/* ==============================================
*
*                       MODAL
*
=================================================*/
.modal-dialog {
    margin: 0 auto;
    width: 75%;
}
.modal-content {
    background-color: #343A40;
}
.modal-title {
    color: white;
    font-weight: bold;
}
.modal-body {
    display: flex;
    justify-content: center;
}
.close,.close:hover,.ul-modal-info li span {
    color: white;
}
.ul-modal-info,.ul-modal-info-icon-link {
    list-style-type: none;
    padding:0;
    margin:0;
}
.ul-modal-info-icon-link {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 575px) {
    .fa-chevron-left {
        font-size: 1.5em;
    }
    .h1-header-cv {
        font-size: 1em;
    }
    .h2-header-cv {
        font-size: 0.8em;
    }
    .visible-xs {
        display: block;
    }
    .header-cv {
        justify-content: space-between;
    }
}
@media screen and (min-width: 576px) {
    .fa-chevron-left {
        font-size: 2em;
    }
    .h1-header-cv {
        font-size: 1.5em;
    }
    .h2-header-cv {
        font-size: 1em;
    }
    .visible-xs {
        display: none;
    }
    .title {
        width: 94%;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .h1-header-cv {
        font-size: 2em;
    }
    .h2-header-cv {
        font-size: 1.5em;
    }
    .visible-xs {
        display: none;
    }
}